#main_div{
    background-color:black;
    margin-left: 0%;
   
    padding-right: 0%;
    margin-right: 0%;
    border-right: 0ch;

}
#main_caption{
    font-size: 350%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0%;
    margin-bottom: 0%;
    
   
    
}
#second_main_div{

margin-left: 1%;
margin-right: 1%;
padding-right: 0%;
width: 100%;


}
#caption_span1{
    color: white;
    
}
#caption_span2{
    color: gold;
    
}
#second_caption{
    color:cadetblue;
    margin-bottom: 2%;
}
#image_div{
    text-align: left;

    margin-left: 0%;
    padding-left: 0%;
    width: 100%;
}
#contents_div{
    background-color: aliceblue;
    float: right;
}

