#main_div{
    background-color:black;
    margin-left: 0%;
   
    padding-right: 0%;
    margin-right: 0%;
    border-right: 0ch;
    

}
#main_caption{
    font-size: 350%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: center;

    
}
#second_main_div{

margin-left: 1%;
margin-right: 1%;
padding-right: 0%;
width: 100%;



}
#caption_span1{
    color: aliceblue;
    
}
#caption_span2{
    color: gold;
    
    
}
#second_caption{
    color:cadetblue;
    margin-bottom: 2%;
    color: aliceblue;
}
#image_div{
    text-align: left;
    float: left;
    margin-left: 0%;
    padding-left: 0%;
    width: 100%;
    color: aliceblue;
    
}
#contents_div{
    color: aquamarine;
    text-align: left;
    color: aliceblue;
    padding-left: 4%;
    
   
}
#content_caption{
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
    
    color: aliceblue;
    
}
#contents{
    padding-top: 0%;
    margin-left: 0%;
    padding-left: 0%;
    height: 100%;
    color: aliceblue;
}


#temp{
color: aliceblue;


}


