#main_div{
    background-color:black;
    margin-left: 0%;
   
    padding-right: 0%;

}
#main_caption{
    font-size: 350%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0%;
    margin-bottom: 0%;
   
    
}
#caption_span1{
    color: white;
    
}
#caption_span2{
    color: gold;
    
}
#second_caption{
    color:cadetblue;
}

