#main_div {
    background-color:black;

}

#img_div {
 


}

#contents {
    padding-top: 4%;
}

#content_caption {
    font-size: 220%;
    
    background-color: black;
}
#cards{

    
   
    color: black;
    height: 500vh;
    display: inline;

}
#skills{
width: 16%;
height: 13vh;

}
#temp{
 
}