#homepage_body{
    background-color:black;
    height:14cm;
    padding-left: 5%;
    width: 100%;
    
}
#caption-1{
    font-size:200%;
    
}
#contents{
    padding-top: 7%;
    height: 100%;
    padding-bottom: 6%;
    background-color: black;
   
   
    
}
#img_div{
    
    padding-left: 0%;
    background-color: black;
}
#super_div{
    background-color: black;
}
