#main_div{
    background-color:aliceblue;
    text-align: center;
    padding-left: 0%;
    margin-left: 0%;
 
    color: black;
    border-color: black;
 
}

#img_div{
    text-align: center;
    color: black;
}
#main_caption{

text-align: center;
color: black;


}
#second_main_div{
    padding-left: 0%;
    text-align: center;
    margin-left:0%;
    color: black;
    
}


#main_caption{
    
    padding-left: 0%;
    text-align: center;
    color: black;
    font-size: 70%;

}
#contents{
    text-align: left;
  
    color: black;
   
   
}
#li{
    margin-bottom: 1%;
    
}
#content_caption{
    color: black;
    
}