#main_div{
  
    text-align: center;
    padding-left: 0%;
    margin-left: 0%;
}

/* #second_main:hover{
    background-color:rgb(42, 37, 37);
    border-color: red;
} */
#projectlink{
    text-decoration: none;
    
}

#img_div{
    text-align: center;
   
    
}
#main_caption{

text-align: center;


}
#second_main_div{
    padding-left: 0%;
    text-align: center;
    margin-left:0%;
    
    
}


#main_caption{
    
    padding-left: 0%;
    text-align: center;
   

}
#contents{
    text-align: left;
    
   
}
#li{
    margin-bottom: 1%;
    
}

