#main_div{
    background-color:black;
    text-align: center;
    padding-left: 0%;
    margin-left: 0%;
}

/* #second_main:hover{
    background-color:rgb(42, 37, 37);
    border-color: red;
} */
#projectlink{
    text-decoration: none;
    background-color:black;
}

#img_div{
    text-align: center;
    background-color:black;
    
}
#main_caption{

text-align: center;
background-color:black;

}
#second_main_div{
    padding-left: 0%;
    text-align: center;
    margin-left:0%;
    background-color:black;
    
}


#main_caption{
    
    padding-left: 0%;
    text-align: center;
    background-color:black;

}
#contents{
    text-align: left;
    background-color:black;
   
}
#li{
    margin-bottom: 1%;
    background-color:black;
}

