#main_div {
    background-color:black;

}

#img_div {
    background-color: antiquewhite;


}

#contents {
    padding-top: 4%;
}

#content_caption {
    font-size: 220%;
    color: aliceblue;
}
#cards{

    
   
    color: black;
    height: 500vh;
    display: inline;

}
#skills{
width: 10%;
height: 13vh;

}
#temp{
    color: aliceblue;
}